{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
    {% block content %}
        {% if user.is_authenticated %}
            Hi {{ user.username }} !
            <p> <a href="{% url 'logout' %}">Log Out</a> </p>

        {% else %}
            <p>You Are not Logged in Please Use The Following Links</p>
            <p>
                <a href="{% url 'signup' %}">Login</a> |
                <a href="{% url 'login' %}">SignUp</a>
            </p>
        {% endif %}
    {% endblock content %}